html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Bangers", cursive;
  letter-spacing: 2px;
}

:root {
  height: 100vh;
  width: 100vw;
  background: no-repeat;
  background-size: 100% 100%;
  background-image: url(https://img.freepik.com/free-photo/blue-dark-gradient-texture-wall-background_28629-888.jpg?size=626&ext=jpg);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-size: 100% 100%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vh;
  width: 100%;
  color: #8bd77b;
  font-size: 60px;
  text-decoration: underline overline;
  letter-spacing: 4px;
}

.game-score {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  font-size: 30px;
  color: #b63f3f;
}

.flag-score {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  font-size: 30px;
  color: #e3a740;
}

.grid-container {
  height: 60vh;
  width: 50%;
  margin-bottom: 0;
  cursor: pointer;
  display: grid;
  gap: 5px;
  grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr/ 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.result-display {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;
  font-weight: bolder;
}

button {
  font-size: 20px;
  color: red;
  cursor: pointer;
  margin: 0 auto;
  background: black;
}

.cell {
  background-color: white;
  border: 1px solid black;
  text-align: center;
  cursor: pointer;
  padding: 10px;
}

.cell.clicked {
  background-color: green;
}

.flagged {
  background-color: yellow;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><path d="M64 32C64 14.3 49.7 0 32 0S0 14.3 0 32V64 368 480c0 17.7 14.3 32 32 32s32-14.3 32-32V352l64.3-16.1c41.1-10.3 84.6-5.5 122.5 13.4c44.2 22.1 95.5 24.8 141.7 7.4l34.7-13c12.5-4.7 20.8-16.6 20.8-30V66.1c0-23-24.2-38-44.8-27.7l-9.6 4.8c-46.3 23.2-100.8 23.2-147.1 0c-35.1-17.6-75.4-22-113.5-12.5L64 48V32z"/></svg>');
  /* background-attachment: fixed | scroll; */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  /* background-origin: border-box | padding-box | content-box; */
  /* background-clip: border-box | padding-box | content-box; */
  /* background-blend-mode: multiply | screen | overlay; */
}

.bomb {
  background-image: url("https://img.icons8.com/emoji/48/000000/bomb-emoji.png");
  background-color: red;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}
