body{
    padding: 0px;
    margin: 0px;
    background-image: linear-gradient(120deg, rgba(239, 159, 235, 0.969), rgba(157, 91, 212, 0.825));
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: monospace, sans-serif;
    box-sizing: border-box;
}

.signupFrm{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    width: 400px;
    min-height: 500px;
    height: auto;
    border-radius: 55px;
    box-shadow: 0 9px 20px hsl(271, 74%, 71%);
    padding: 2%;
    background-image: linear-gradient(220deg, rgba(239, 159, 235, 0.969), rgba(157, 91, 212, 0.825));
  }
  
  .title {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 70px;
    margin-bottom: 70px;
    color: rgb(157, 91, 212)
  }

  .inputContainer {
    position: relative;
    height: 45px;
    width: 90%;
    margin-bottom: 17px;
  }

  .input {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid #c8afd3;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 0;
    box-shadow: 0 9px 20px hsl(271, 74%, 71%);
    font-family: 'Courier New', Courier, monospace;
    color: rgba(rgb(75, 146, 223), green, blue, alpha);
  }

  ::placeholder{
    font-family: 'Courier New', Courier, monospace;
  }

  :focus::placeholder {
    color: transparent;
  }

  .label {
    position: absolute;
    top: -8px;
    left: 8px;
    padding: 0 4px;
    background-color: rgb(145, 25, 145);
    color: #000000;
    font-size: 14px;
    z-index: 1;
  }

  .input:focus{
    border: transparent;
  }

  .submitBtn {
    display: block;
    margin-left: auto;
    padding: 15px 30px;
    border: none;
    background-color: rgb(145, 25, 145);
    color: rgb(0, 0, 0);
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
    font-family: monospace;
  }

  .submitBtn:hover {
    opacity: 0.9;
  }